<style src="styles/components/Form.styl" lang="stylus" scoped></style>

<script>
    import MainButton from 'app/components/specific/MainButton.vue'

    export default {
        name: "CustomForm",
        data() {
            return {
                formType: false,
                termsChecked: false,
            };
        },
        props: {
            placeholder: {
                type: String,
                required: true,
            },
            placeholder2: {
                type: String,
                required: false,
            },
            placeholder3: {
                type: String,
                required: false,
            },
            placeholder4: {
                type: String,
                required: false,
            },
            placeholder5: {
                type: String,
                required: false,
            },
            fieldsNumber: {
                type: Number,
                required: true,
                default: 1,
            },
            type: {
                type: String,
                required: true,
            },
            border: {
                type: Boolean,
                default: false,
            },
            inlineInput: {
                type: Boolean,
                default: false,
            },
            buttonText: {
                type: String,
                required: true,
            },
            noIcon: {
                type: Boolean,
                default: false,
            },
            large: {
                type: Boolean,
                default: false,
            },
            select: {
                type: Boolean,
                default: false,
            },
            hasTerms: {
                type: Boolean,
                default: false,
            },
            isLightForm: {
                type: Boolean,
                default: false,
            }
        },
        components: {
            MainButton,
        },
        methods: {},
        computed: {},
    };
</script>

<template>
    <div class="CustomForm" :class="{ with_border: this.border, inline_input: this.inlineInput }">
        <input :type="this.type" :placeholder="this.placeholder" :class="{Form_light: this.isLightForm}">
        <input v-if="this.fieldsNumber > 1" :type="this.type" :placeholder="this.placeholder2" :class="{Form_light: this.isLightForm}">
        <input v-if="this.fieldsNumber > 2" :type="this.type" :placeholder="this.placeholder3" :class="{Form_light: this.isLightForm}">
        <input v-if="this.fieldsNumber > 3" :type="this.type" :placeholder="this.placeholder4" :class="{Form_light: this.isLightForm}">
        <input v-if="this.fieldsNumber > 4" :type="this.type" :placeholder="this.placeholder5" :class="{Form_light: this.isLightForm}">
        <label v-if="this.hasTerms" class="form__terms" style="display: inline-flex" for="checkbox">
        <input id="terms_id" v-model="termsChecked" type="checkbox">
        <p>Al solicitar nuestros servicios de envío, confirmas que leíste y estás de acuerdo con los términos y condiciones de vueltap descritos en el siguiente <strong class="Paragraph-red"></strong></p>
        </label>
        <main-button
            :disabled="!termsChecked"
            :buttonText="this.buttonText"
            :noIcon="this.noIcon"
            :large="this.large"
            inlineButton
            @click.native="test"
        ></main-button>
    </div>
</template>
