<style src="styles/components/IconComponent.styl" lang="stylus" scoped></style>

<script>
    export default{
        name: "IconComponent",
        data(){
            return {};
        },
        props: {
            iconSrc: {
                type: String,
                required: true,
            },
            small: {
                type: Boolean,
                default: false,
            },
            extraSmall: {
                type: Boolean,
                default: false,
            },
            noMargin: {
                type: Boolean,
                default: false,
            }
        },
        components: {},
        methods: {},
        computed: {}
    };
</script>

<template>
    <div class="IconComponent" 
        :style="{backgroundImage: 'url(' + this.iconSrc + ')', 
        minWidth: this.small ? '27px': this.extraSmall ? '20px' : '55px',
        width: this.small ? '27px': this.extraSmall ? '20px' : '55px',
        height: this.small ? '27px': this.extraSmall ? '20px' : '55px',
        marginRight: this.noMargin ? '0px' : this.small ? '20px' : this.extraSmall ? '5px' : '45px'}">
    </div>
</template>
