<style src="styles/components/MainButton.styl" lang="stylus" scoped></style>

<script>
export default {
    name: "MainButton",
    data(){
        return {
            yellowSrc: "../../src/assets/img/arrows/arrow_yellow.png",
            blackSrc: "../../src/assets/img/arrows/arrow_black.png",
        };
    },
    props: {
        buttonText: {
            type: String,
            required: true,
        },
        backgroundColor: {
            type: String,
            default: "#F8E71C",
        },
        fontColor: {
            type: String,
            default: "#fff",
        },
        large: {
            type: Boolean,
            default: false,
        },
        small: {
            type: Boolean,
            default: false,
        },
        extraSmall: {
            type: Boolean,
            default: false,
        },
        border: {
            type: Boolean,
            default: false,
        },
        borderRed: {
            type: Boolean,
            default: false,
        },
        borderBlack: {
            type: Boolean,
            default: false,
        },
        red: {
            type: Boolean,
            default: false,
        },
        iconSrc: {
            type: String,
        },
        noIcon: {
            type: Boolean,
            default: false,
        },
        inlineButton: {
            type: Boolean,
            default: false,
        },
        route: {
            type: Function,
        },
        disabled: {
            type: Boolean,
            default: false,
        }
    },
    components: {},
    methods: {},
    computed: {}
};
</script>

<template>
    <button class="MainButton" :class="{
        inlineButton: this.inlineButton, 
        smallButton: this.small, 
        largeButton: this.large,
        borderRed: this.borderRed,
        disabled: this.disabled,
        borderBlack: this.borderBlack,
    }" 
    :style="{
        width: this.extraSmall ? '113px' : this.small ? '160px' : '225px', 
        backgroundColor: this.border ? 'transparent' : this.red ? '#FF3D3D' : this.backgroundColor, 
        color: this.red ? '#fff' : this.border ? '#fff' : '#000', 
        border: this.border ? '2px solid white' : 'none',
        }">
        <p>{{this.buttonText}}</p>
        <img v-if="!this.noIcon" v-show="!this.extraSmall || !this.noIcon" :src="red ? yellowSrc : blackSrc" width=19/>
    </button>
</template>
