<style src="styles/components/ServiceDeliveredCard.styl" lang="stylus" scoped></style>

<script>
    import MainButton from "app/components/specific/MainButton.vue"
    import isMobile from "ismobilejs";
    export default{
        name: "ServiceDeliveredCard",
        data(){
            return {
                responses: Array,
                recentsCard: undefined,
                opened: false,
            };
        },
        props: {},
        components: { MainButton },
        methods: {
            moreInfo: function(index) {
                this.opened = !this.opened;
                for (let i = 0; i < this.recentsCard.length; i++) {
                    if(index == i) {
                        if(!this.opened){
                            TweenMax.to(this.$refs.moreInfoArrow[i], 0.1, {
                                rotation: 0,
                                ease: Power1.ease,
                            }),
                            TweenMax.to(this.recentsCard[i], 0.1, {
                                maxHeight: 0,
                                paddingTop: 0,
                                paddingBottom: 0,
                                ease: Power1.ease
                        });
                            this.$refs.showInfoAction[i].innerHTML = "Más detalles";
                            this.recentsCard[i].classList.remove("opened");
                        } else {
                            TweenMax.to(this.$refs.moreInfoArrow[i], 0.1, {
                                rotation: 180,
                                ease: Power1.ease,
                            }),
                            this.$refs.showInfoAction[i].innerHTML = "Ocultar detalles";
                            if(isMobile.phone) {
                                TweenMax.to(this.recentsCard[i], 0.1, {
                                maxHeight: 220,
                                paddingTop: 50,
                                paddingBottom: 50,
                                ease: Power1.ease
                            });
                            } else {
                                TweenMax.to(this.recentsCard[i], 0.1, {
                                maxHeight: 500,
                                paddingTop: 50,
                                paddingBottom: 50,
                                ease: Power1.ease
                            });
                            }
                            this.recentsCard[i].classList.add("opened");
                        }
                    } else {
                    }
                }
            }
        },
        computed: {},
        mounted() {
            this.$nextTick(() => {
                this.recentsCard = document.getElementsByClassName("Service--recent-infocard-content");
                fetch('https://api.myjson.com/bins/7987g').then(responses => {
                return responses.json();
                }).then(data => {
                    this.responses = data;
                    // Work with JSON data here
                }).catch(err => {
                // Do something for an error here
                });
            });
        }
    };
</script>

<template>
    <div class="ServiceDeliveredCard">
        <section class="Service--recent">
            <div class="Service--recent-infocard" v-for="(response, index) of responses.recents" :key="response._id" :data="response">
                <div class="Service--recent-infocard-header">
                    <p>Entrega de tenis New Balance</p>
                    <p class="Paragragh-grey">Lunes, Noviembre 02</p>
                    <p>Valor: {{response.price}}</p>
                    <div class="accordion--action" @click="moreInfo(index)">
                        <p class="Paragraph-red Center" ref="showInfoAction">Más detalles
                        </p>
                        <span ref="moreInfoArrow" class="more_info--arrow"></span>
                    </div>
                    <main-button
                        buttonText = "Volver a solicitar"
                        red
                        small
                        noIcon
                    ></main-button>
                </div>
                <div class="Service--recent-infocard-content">
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Fecha de solicitud:</strong> {{response.fecha}}</p>
                        </div>
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Hora de solicitud:</strong> {{response.hora}}</p>
                        </div>
                    </div>
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Punto de recogida:</strong> {{response.recogida}} </p>
                        </div>
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Punto de entrega:</strong> {{response.entrega}} </p>
                        </div>
                    </div>
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Contacto:</strong> {{response.contacto}} </p>
                        </div>
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Teléfono:</strong> {{response.telefono}} </p>
                        </div>
                    </div>
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Mensajero encargado: </strong>{{response.mensajero}}</p>
                        </div>
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Teléfono:</strong> {{response.mTelefono}} </p>
                        </div>
                    </div>
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Estado: </strong>{{response.mensajero}}</p>
                        </div>
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Teléfono:</strong> 301-266-4456</p>
                        </div>
                    </div>
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>ID Orden: </strong>{{response.idOrden}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </div>
</template>
