// Home

@import "~styles/vars";

.Home
    display block
    width 100%
    height auto

.player-container
    max-width 600px
    aspect-ratio(16, 9)

.Header-phone_number
    display flex
    position relative
    justify-content center
    align-items center
    width 100vw
    height 44px
    background $subred
    z-index 2
    text-align center

.Home-banner_container
    position relative
    lost-center 80%

.Home-banner_rotated
    position absolute
    width 120vw
    min-width 1900px
    height 1750px
    top -75%
    left -20%
    background red
    transform rotate(45deg)
    border-radius 500px
    overflow hidden
    .rotated-image
        width 100%
        height 120%
        background-size contain
        background-repeat no-repeat
        background-position center bottom
        transform rotate(-45deg)
    .rotated-overlay
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background $red
        opacity 0.9
    +below(1290px)
        transform-origin 60vw 925px
    +below(800px)
        top -80%
        left -90%
    +below(600px)
        top -95%
        left -230%

.Home-banner_content
    position relative
    top 15%
    left 50%
    transform translate(-50%, 0%)
    width 100%
    z-index 2

.Home-banner_content_description
    lost-center 80%

.Home-banner_content_delivery-card
    display flex
    flex-direction column
    justify-content space-around
    align-content center
    align-items center
    lost-center 100%
    height 440px
    margin 50px 0
    padding 0 72px
    background white
    border-radius $border-radius
    box-shadow 0 0 50px 1px rgba(0, 0, 0, 0.2)
    +below(800px)
        padding 72px 25px
        height unset
    .delivery-card_title
        width 100%
        +below(800px)
            margin-bottom 25px
    .delivery-card_note
        position absolute
        top 100%
        text-align right
        +below(800px)
            position relative
            text-align center
    .delivery-card_second_row
        display flex
        position relative
        width 100%
        justify-content space-around
        +below(800px)
            flex-direction column
        .delivery-card_second_row-column
            display flex
            flex 1
            flex-direction column
            &:first-child
                margin-right 10px
                +below(500px)
                    margin-right 0
    .delivery-card_summary
        display flex
        justify-content space-between
        align-items center
        width 100%
        +below(800px)
            flex-direction column
        .delivery-card_summary-total
            display flex
            justify-content flex-start
            align-items center
            flex 3
            p
                +above(801px)
                    margin-right 15px
            +below(800px)
                flex-direction column
                text-align center
                margin-bottom 15px

.Home-banner_steps
    display flex
    position relative
    justify-content space-between
    width 100%
    margin-top 120px  
    +below(800px)      
        flex-direction column-reverse
        align-items center       
    .delivery-person_image
        width 80% 
        background-size contain
        background-repeat no-repeat
        background-position center left
        +below(800px)
            height 538px
            background-position center bottom
        +below(600px)
            height 280px
    .delivery-steps
        display flex
        flex-direction column
        justify-content space-between
        padding 100px 0
        +below(800px)
            padding 0
            width 80%
        +below(600px)
            width 90%
        .delivery-steps_row
            display flex
            justify-content space-between
            margin 30px 0
            .delivery-steps_row-description
                display flex
                flex 1
                flex-direction column
                justify-content center

.Home-plans_services
    display flex
    position relative
    justify-content center
    align-items center
    width 100vw
    padding 120px 0 100px 0
    background $red
    +below(800px)
        padding 72px 0
    .Home-plans_services-container
        display flex
        flex-direction column
        justify-content space-evenly
        width 90%
        height 100%

.plans_services-description
    margin-bottom 50px
    h2
        margin-bottom 20px

.plan-card_container
    display flex
    justify-content space-around
    align-items center
    flex-wrap wrap
    width 100%
    padding 50px 0
    height 300px
    +below(1270px)
        height unset

.plan-card
    position relative
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    width 23%
    border-radius 30px
    border 2px solid white
    padding 15px 15px
    max-width 278px
    min-width 278px
    min-height 270px
    margin 0 5px 15px 5px
    transition all 0.5s ease
    .plan-card--background
        position absolute
        width 100%
        height 100%
        background none
        border-radius 30px
        transition all 0.2s ease
    .plan-card_details
        margin 5px 0
        z-index 2
    +above(1270px) 
        &:hover
            background white
            border none
            color $lightText
            transition all 0.5s ease
            .MainButton
                background $red !important
                p
                    color white
            .plan-card--background
                transition all 0.2s ease
                background white
                transform scaleY(1.2)
            h3
            p
                z-index 2
                color black
    
.Home-sliding_steps
    display flex
    justify-content center
    align-items center
    min-height 100vh
    width 100vw
    padding 120px 0
    background $subBackground
    +below(600px)
        text-align center
    .Home-sliding_steps--container
        width 80%
    
.Home-clients
    display flex
    justify-content center
    align-items center
    width 100vw
    min-height 80vh
    background $background
    padding 120px 0
    .Home-clients--container
        width 100%
        .swiper-slide
            +below(800px)
                display flex
                justify-content center

.Home-form
    display flex
    justify-content center
    width 100vw
    height 110vh
    min-height 110vh
    background $red
    padding 100px 0
    +below(800px)
        height unset
    .MainButton
        margin-top 35px
    .Home-form--container
        display flex
        flex-direction column
        justify-content space-around
        width 80%
    .Home-form--content
        display flex
        justify-content space-around
        width 100%
        margin-top 25px
        .Home-form--fields
            display inline-flex
            flex-direction column
            justify-content space-around
            align-items center
            width 40%
            +below(800px)
                width 100%
            select
                width 100%
                height 54px
                border 2px solid white
                margin 0 0 10px 0
                padding 0 25px
                cursor pointer
            form
                display flex
                flex-direction column
                justify-content center
                align-content flex-end
                align-items center
                width 100%
                input
                    background none
                    border 2px solid white
                    color white
                +below(800px)
                    width 100%
        +below(800px)
            flex-direction column
            justify-content space-around
            align-content center
            align-items center
        .box-image
            width 50%
            height 0
            padding-top 30%
            border 1px dashed white
            +below(800px)
                width 100%
                padding-top 60%
                margin-bottom 15px
        .CustomForm
            display flex
            flex-direction column
            justify-content center
            align-content flex-end
            align-items center
            width 40%
            +below(800px)
                width 100%

.customized-select
    position relative
    width 100%
    &:after
        content ''
        display block
        position absolute
        right 0
        top 50%
        width 15px
        height 2px
        transform rotate(-45deg) translateY(-50%)
        right 9px
        background $yellow
        pointer-events none
    &:before
        content ''
        display block
        position absolute
        right 0
        top 50%
        width 15px
        height 2px
        right 20px
        transform rotate(45deg) translateY(-50%)
        background $yellow
        pointer-events none

.Home-sponsors
    width 100vw
    height 261px
    background $background
    .Home-sponsors--container
        display flex
        flex-wrap wrap
        lost-center 100%
        height 100%
        justify-content space-around
        align-items center

             
                








