// AppHeader

@import "~styles/vars";

.AppHeader
    position relative
    width 100%

.AppHeader-home
    display flex
    position relative
    justify-content space-between
    align-items center
    lost-center 80%
    height 70px
    background none
    z-index 2

.AppHeader-logged
    position relative
    width 100%
    z-index 2
    background $red
    .menu-button
        display flex
        margin-right 30px

.AppHeader-loggedContainer
    display flex
    position relative
    lost-center 80%
    justify-content space-between
    align-items center
    padding 9px 0

.AppHeader-message
    position relative
    size 100% 110px
    background $subred
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center
    +above(rupture.scale[2])
        flex-direction row
        justify-content center
        align-items center
        size 100% 40px

.AppHeader-message-first
    font-size 14px
    margin 10px
    color #FFF
    max-width 80%

.AppHeader-message-second
    font-size 14px
    color $yellow
    margin 10px
    font-weight bold

.AppHeader-logged-user
    z-index 4
    display flex
    align-items center
    justify-content flex-end
    flex 0.25
    p   
        font-size 16px
        font-weight 600
        display none
        +above(rupture.scale[2])
            display initial

.AppHeader-logged-photo
    size 40px
    border-radius 50%
    background $subred
    background-image url('../../assets/img/client.jpeg');
    background-size cover
    background-repeat no-repeat
    background-position center
    margin-left 15px

h1
    margin 0

ul
    margin: 0
    padding: 0
    flex 2

ul
    display block
    +below(1200px)
        display none
li
    display: inline-block
    list-style-type: none
    margin: 0 10px
    &:first-of-type
        margin-left: 0

.main-logo 
    flex 1
    height 50px
    background-image url('../../assets/img/logo.png')
    background-size 130px
    background-position center left
    z-index 4

span
    position absolute
    top 20%

.fade-enter-active, .fade-leave-active
    transition: opacity .5s

.fade-enter, .fade-leave-active
    opacity: 0

.menu-button
  display none
  position inherit
  flex-direction column
  justify-content space-between
  align-items center
  z-index 3
  +below(1200px)
    display flex
    margin-right 30px
  
.burger-line
    content ''
    position relative
    display block
    width 25px
    height 5px
    margin 2px 0
    border-radius 5px
    background white
    transition all 0.5s ease
    &.rotateNeg
      transform rotate(-45deg)
      transform-origin 0
    &.rotatePos
      transform rotate(45deg)
      transform-origin 0
    &.removeMiddle
      transition all 0.1s ease
      opacity 0

