// Menu

@import "~styles/vars";

.Menu
    display flex
    position absolute
    width 100%
    height 100vh
    top 0
    z-index 2
    pointer-events none

.Menu--container
    display flex
    flex-direction column
    justify-content space-evenly
    align-items center
    align-content center
    width 100%
    height 100%
    .Menu--content
        display flex
        position fixed
        flex-direction column
        justify-content space-around
        align-items center
        height 50%
        z-index 3
        a
            color $lightText
        button 
            margin 0 auto
            margin-top 15px

.Menu--header
    position absolute
    top 0
    width 100vw
    height 68px
    background $red

.menu_pointer
    pointer-events auto

.Menu--curtain  
    position fixed  
    width 120vw
    height 100vh
    background white
    left -20vw
    top 0
    transform-origin 0 0


