// DashboardManager

@import "~styles/vars";

.DashboardManager
    display flex
    flex-direction column
    justify-content space-evenly
    align-items center
    width 100vw
    padding-top 3%
    z-index 1
    box-shadow 0 1px 10px 0px rgba(0, 0, 0, 0.2)
    h2
        font-size 36px
    .DashboardManager__container
        display flex
        flex-direction column
        justify-content space-evenly
        align-items flex-start
        width 80%
        h4
            text-align left
            width 40%
    +below(500px)
        display none

.DashboardManager--top
    display flex
    width 100%
    justify-content space-between
    align-items center

.DashboardManager--tabs
    display flex
    justify-content space-between
    width 100%
    height 50px
    margin 60px 0 0 0

.Manager
    position relative
    width 25%
    text-align center
    font-weight 100
    color $grey
    p
        font-size 16px
    span
        content ''
        position absolute
        top 95%
        display block
        width 0
        height 3px
        border-radius 100px
        background $red
        transition all 0.2s ease
    &.active
        color $red
        span
            transition all 0.5s ease
            width 100%
        p
            font-size 17px
            font-weight 600
        .arrow-up    
            transition all 0.1s ease
            position absolute
            bottom 0
            left 50%
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $red;

