// Dashboard

@import "~styles/vars";

.DashboardComponent
    display flex
    justify-content center
    align-items center
    width 100%
    .DashboardComponent--container
        display flex
        flex-wrap wrap
        width 100%
        padding 80px 0

.Dashboard__main-header
        display flex
        justify-content space-between
        align-items center
        width 100%
        +below(500px)
            flex-wrap wrap
            height 150px
            .profile--state
                width 100%
            h4
                text-align left
                width 40%
    .profile--state
        display flex
        align-items center
    .courier--info
        display flex
        align-items center
    .courier--info-text
        display flex
        flex-direction column
    .courier--info-photo
        size 45px
        margin-left 10px
        background-size cover
        background-repeat no-repeat
        background-position center
        border-radius 100%

.Dashboard--Delivery-info
    display flex
    justify-content space-between
    align-items center
    width 100%
    +below(800px)
        flex-wrap wrap
    .Delivery-info--item
        display flex
        justify-content space-around
        flex-direction column
        margin-top 15px
        &:last-of-type
            +below(500px)
                width 100%
                .info-item
                    justify-content center
        .info-item
            display inline-flex
            align-items center

.Dashboard--Delivery-tracking
    display inline-flex
    flex-direction column
    justify-content space-around
    align-items flex-start
    width 100%
    margin-top 20px
    padding 40px 80px
    background #F9F9F9
    +below(800px)
        padding 0 20px
    +below(800px)
        padding 0
        .tracking-info
            padding 0 28px
        .tracking-details
            flex-wrap wrap
            .tracking-details--item
                margin 10px 0
                width 100%
    .tracking-map
        width 100%
        height 250px
        margin-bottom 15px
        background $grey
    .tracking-info
        display inline-flex
        flex-wrap wrap
        width 100%
        min-height 200px
        .tracking-progress
            width 100%
            height 30px
            border-radius 100px
            background #DCDCDC
            +below(500px)
                visibility hidden
        .tracking-progress-bar
            position relative
            height 30px
            background-color $red
            border-radius 15px
            width 0%
            &.state_1
                transition all 0.5s ease
                width 22%
            &.state_2
                transition all 0.5s ease
                width 42%
            &.state_3
                transition all 0.5s ease
                width 62%
            &.state_4
                transition all 0.5s ease
                width 82%
            &.state_5
                transition all 0.5s ease
                width 100%
            +below(500px)
                visibility hidden
        .tracking-progress-lines
            position relative
            top -30px
            display inline-flex
            flex-flow row
            justify-content space-evenly
            align-content center
            width 100%
            height 30px
            z-index 2
            +below(500px)
                visibility hidden
        .line
            height: 30px;
            background-color: white;
            width: 1px;
            z-index: 3;
        .tracking-details
            display inline-flex
            width 100%
            p
                font-size 12px
            .tracking-details--item
                display inline-flex
                align-items center
                padding-right 10px
                +above(800px)
                    width 20%


.Dashboard--recent
    display flex
    flex-wrap wrap
    justify-content flex-start
    align-items center
    width 100%
    padding 80px 0
    .more_info--arrow
        display inline-flex
        width 0 
        height 0
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-top 10px solid $red
        transition all 0.3s ease
    .Dashboard--recent-header
        display flex
        align-items center
        width 100%

.Dashboard--recent-infocard
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    width 100%
    margin 15px 0
    background white
    border-radius $border-radius
    box-shadow 0px 0px 5px 1px rgba(0, 0, 0, 0.1)
    .Dashboard--recent-infocard-header
        display flex
        justify-content space-between
        align-items center
        width 100%
        padding 20px 35px
        +below(1200px)
            padding 20px 20px
            p
                max-width 18%
        +below(900px)
            p
                max-width unset
            flex-direction column
            height 200px
            padding 20px 35px
        .accordion--action
            position relative
            display inline-flex 
            align-items center 
            justify-content space-around
            cursor pointer
            p
                margin-right 5px
            .more_info--arrow
                position relative
                margin-top 4px
    .Dashboard--recent-infocard-content
        display flex
        flex-wrap wrap
        justify-content space-between
        width 100%
        max-height 0
        height auto
        padding 0 35px
        background #F9F9F9
        overflow hidden
        transition 0.3s all ease
        +below(900px)
            flex-wrap nowrap
            flex-direction column
            padding 0 45px
            .Delivery-info--item
                width 100% !important
        .Delivery-info--item
            margin 15px 0
            margin-right 30px
            lost-column 4/12 0 0
