// DeliveryRouting

@import "~styles/vars";

.DeliveryRouting
    display flex
    justify-content center
    align-items center
    width 100%
    .Dashboard__main-header     
        display flex
        justify-content space-between
        align-items center
        width 100%
        .profile--state
            display flex
            align-items center
        +below(500px)
            flex-wrap wrap
            height 150px
            .profile--state
                width 100%
            h4
                text-align left
                width 40%

.DeliveryRouting__content
    display flex
    justify-content center
    align-items flex-start
    width 100%
    +below(1000px)
        flex-direction column-reverse
        align-items center
    h4
    p
        width 100%
        text-align left

    .DeliveryRouting__map
        width 50%
        height 500px
        background black
        margin-bottom 30px
        +below(1000px)
            width 100%
    .DeliveryRounting__adresses
        display inline-flex
        flex-wrap wrap
        justify-content center
        width 50%
        height 100%
        margin-right 10px
        +below(1000px)
            width 80%
        .DeliveryRouting__adresses--list
            display inline-flex
            flex-wrap wrap
            flex-direction column
            justify-content space-around
            width 100%
            height 350px
            padding 10px
            background #f9f9f9
            overflow auto
            ul
                height 100%
                width 100%
            li
                padding 10px
        .DeliveryRouting__adresses--title
            display inline-flex
            width 100%
            justify-content space-between
            align-items center
        .DeliveryRouting__my-adress
            display inline-flex
            width 100%
            justify-content flex-start
            align-items center
            p
                width unset
                margin-right 10px
            .IconComponent
                margin-right 10px

.DeliveryRouting__adress-conflict
    display inline-flex
    justify-content flex-start
    width 100%
    h4
        width unset
        margin-right 10px

.DeliveryRouting__bottom
    display inline-flex
    justify-content center
    width 100%
    margin 20px 0