// DeliveryRoutingUploadFile

@import "~styles/vars";

.DeliveryRoutingUploadFile
    display flex
    justify-content center
    align-items center
    .RoutingUploadFile__contain
        display inline-flex
        flex-direction column
        justify-content space-around
        align-items center
        .upload-file__drag-space
            display inline-flex
            flex-direction column
            justify-content space-between
            align-items center
            width 480px
            height 340px
            margin-top 30px
            padding 40px 20px
            text-align center
            border 1px dashed #cccccc
            border-width 5px
            border-radius 20px
            +below(800px)
                width 300px
