// ServiceDeliveredCard

@import "~styles/vars";

.ServiceDeliveredCard
    display block

.Service--recent
    display flex
    flex-wrap wrap
    justify-content flex-start
    align-items center
    width 100%
    .more_info--arrow
        display inline-flex
        width 0 
        height 0
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-top 10px solid $red
        transition all 0.3s ease
    .Service--recent-header
        display flex
        align-items center
        width 100%
    .Service--recent-infocard
        display flex
        flex-wrap wrap
        justify-content space-between
        align-items center
        width 100%
        margin 15px 0
        background white
        border-radius $border-radius
        box-shadow 0px 0px 5px 1px rgba(0, 0, 0, 0.1)
        .Service--recent-infocard-header
            display flex
            justify-content space-between
            align-items center
            padding 20px 35px
            width 100%
            +below(1200px)
                padding 20px 20px
                p
                    max-width 18%
            +below(900px)
                p
                    max-width unset
                flex-direction column
                height 200px
                padding 20px 35px
            .accordion--action
                position relative
                display inline-flex 
                align-items center 
                justify-content space-around
                cursor pointer
                p
                    margin-right 5px
                .more_info--arrow
                    position relative
                    margin-top 4px
        .Service--recent-infocard-content
            display flex
            flex-wrap wrap
            justify-content space-between
            width 100%
            max-height 0
            height auto
            padding 0 35px
            background #F9F9F9
            overflow hidden
            transition 0.3s all ease
            +below(900px)
                flex-wrap nowrap
                flex-direction column
                padding 0 45px
                .Delivery-info--item
                    width 100% !important
            .Delivery-info--item
                margin 15px 0
                margin-right 30px
                lost-column 4/12 0 0

    