// SponsorSlider

@import "~styles/vars";

.SponsorSlider
    display block
    width 100%
    .swiper-slide
        margin 0 20px
        +below(800px)
            margin 0
    .swiper-pagination
        display none

.sponsor-image
    height 70px
    background-size 150px
    background-repeat no-repeat
    background-position center