<style src="styles/components/DashboardManager.styl" lang="stylus" scoped></style>

<script>
    import { Tabs, Tab } from 'vue-simple-tabs';
    import { TAB_ACTIVE } from '../../store/modules/app';
    import MainButton from "../specific/MainButton.vue";
    import IconComponent from "../specific/IconComponent.vue";
    export default {
        name: "DashboardManager",
        data() {
            return {
                tabHover: undefined,
                manager: undefined,
                tabs: {
                    dashboard: "Dashboard",
                    history: "Historial de Servicios",
                    routing: "Enrutar",
                    myAccount: "Mi cuenta",
                },
                iconSrc: {
                    dashboard: "../../../assets/img/icons/car.png"
                }
            };
        },
        props: {},
        components: {
            Tabs,
            Tab,
            MainButton,
            IconComponent
        },
        methods: {
            changeTab: function(index) {
                this.$store.commit(TAB_ACTIVE, index);
                for (var i = 0; i < this.manager.length; i++) {
                    if (index == i) {
                        this.manager[i].classList.add("active");
                    } else {
                        this.manager[i].classList.remove("active");
                    }
                }
            },
            requestShipping(e) {
                this.$router.push('shipping-request');
            },
        },
        computed: {},
        mounted() {
            this.$nextTick(() => {
                this.manager = document.getElementsByClassName("Manager");
                this.changeTab(0);
            });
        }
    };
</script>

<template>
    <div class="DashboardManager">
        <div class="DashboardManager__container">
            <div class="DashboardManager--top">
                <div class="DashboardManager--title">
                    <h2 style="text-align: left;">Hola Max,</h2>
                    <p class="Paragraph-grey">¿Cuántos envíos haremos hoy?</p>
                </div>
                <main-button @click.native="requestShipping" buttonText="Solicitar envío" small noIcon>
                </main-button>
            </div>
            <div class="DashboardManager--tabs">
                <div v-for="(tab, key, index) of tabs" :key="key" :index="index" class="Manager" @click="changeTab(index)">
                    <p>
                        {{tab}}
                    </p>
                    <div class="arrow-up"></div>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</template>
