<style src="styles/components/DashboardComponent.styl" lang="stylus" scoped></style>

<script>
    import MainTransition from "app/transitions/GSAP";
    import IconComponent from "../specific/IconComponent.vue"
    import MainButton from "../specific/MainButton.vue"
    import isMobile from "ismobilejs";
    export default {
        name: "DashboardComponent",
        data() {
            return {
                url: undefined,
                responses: Array,
                recentsCard: undefined,
                opened: false,
                loading: true,
                error: false,
                progressStateOne: false,
                progressStateTwo: false,
                progressStateThree: false,
                progressStateFour: false,
                progressStateFive: false,
            };
        },
        props: {},
        components: {
            MainTransition,
            IconComponent,
            MainButton
        },
        methods: {
            moreInfo: function(index) {
                this.opened = !this.opened;
                for (let i = 0; i < this.recentsCard.length; i++) {
                    if (index == i) {
                        if (!this.opened) {
                            TweenMax.to(this.$refs.moreInfoArrow[i], 0.1, {
                                    rotation: 0,
                                    ease: Power1.ease,
                                }),
                                TweenMax.to(this.recentsCard[i], 0.1, {
                                    maxHeight: 0,
                                    paddingTop: 0,
                                    paddingBottom: 0,
                                    ease: Power1.ease
                                });
                            this.$refs.showInfoAction[i].innerHTML = "Más detalles";
                            this.recentsCard[i].classList.remove("opened");
                        } else {
                            TweenMax.to(this.$refs.moreInfoArrow[i], 0.1, {
                                    rotation: 180,
                                    ease: Power1.ease,
                                }),
                                this.$refs.showInfoAction[i].innerHTML = "Ocultar detalles";
                            if (isMobile.phone) {
                                TweenMax.to(this.recentsCard[i], 0.1, {
                                    maxHeight: 220,
                                    paddingTop: 50,
                                    paddingBottom: 50,
                                    ease: Power1.ease
                                });
                            } else {
                                TweenMax.to(this.recentsCard[i], 0.1, {
                                    maxHeight: 500,
                                    paddingTop: 50,
                                    paddingBottom: 50,
                                    ease: Power1.ease
                                });
                            }
                            this.recentsCard[i].classList.add("opened");
                        }
                    } else {}
                }
            },
            beforeEnter(el) {
                TweenMax.set(el, {
                    alpha: 0,
                    height: 0
                });
            },
            enter(el, done) {
                let delay = el.dataset.index * 0.015;
                TweenMax.to(el, 0.65, {
                    alpha: 1,
                    height: 24,
                    delay: delay,
                    ease: Power4.easeOut,
                    onComplete: done,
                });
            },
            leave(el, done) {
                let delay = el.dataset.index * 0.015;
                TweenMax.to(el, 0.65, {
                    alpha: 0,
                    height: 0,
                    ease: Power4.easeOut,
                    delay: delay,
                    onComplete: done,
                });
            },
        },
        computed: {},
        mounted() {
            this.$nextTick(() => {
                this.recentsCard = document.getElementsByClassName("Dashboard--recent-infocard-content");
                fetch('https://api.myjson.com/bins/7987g').then(responses => {
                    return responses.json();
                }).then(data => {
                    this.loading = true;
                    this.responses = data;
                    console.log(this.loading);
                    // Work with JSON data here
                }).catch(err => {
                    this.loading = false;
                    this.error = true;
                    // Do something for an error here
                });
            });
        }
    };
</script>

<template>
    <main-transition>
        <div class="DashboardComponent">
            <div class="DashboardComponent--container">
                <div class="Dashboard__main-header">
                    <div class="profile--state">
                        <icon-component iconSrc="../src/assets/img/icons/clock.png" small>
                        </icon-component>
                        <h4 class="Light-text">Tienes un envío en curso</h4>
                    </div>
                    <div class="courier--info">
                        <div class="courier--info-text">
                            <p class="Paragraph-red">Juan Carlos Guzmán</p>
                            <p class="Paragraph-small Light-text">es el mensajero encargado</p>
                        </div>
                        <div class="courier--info-photo" style="background-image: url('../../../src/assets/img/client.jpeg');"></div>
                    </div>
                </div>
                <div class="Separator-line" style="margin: 20px 0;"></div>
                <div class="Dashboard--Delivery-info">
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Fecha de solicitud:</strong> {{this.responses.hora}}</p>
                        </div>
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Hora de solicitud:</strong> {{this.responses.hora}}</p>
                        </div>
                    </div>
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Punto de recogida:</strong> {{this.responses.recogida}}</p>
                        </div>
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Punto de entrega:</strong> {{this.responses.entrega}}</p>
                        </div>
                    </div>
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Contacto:</strong> {{this.responses.contacto}}</p>
                        </div>
                        <div class="info-item">
                            <p class="Paragraph-small Light-text"><strong>Teléfono:</strong> {{this.responses.telefono}}</p>
                        </div>
                    </div>
                    <div class="Delivery-info--item">
                        <div class="info-item">
                            <p class="Light-text"><strong>Valor:</strong> $ 59.600</p>
                        </div>
                    </div>
                </div>
                <section class="Dashboard--Delivery-tracking">
                    <div class="tracking-map"></div>
                    <div class="tracking-info">
                        <h3>Entrega de relojes</h3>
                        <div class="tracking-progress">
                            <div class="tracking-progress-bar" :class="{
                                'state_1': this.progressStateOne, 
                                'state_2': this.progressStateTwo, 
                                'state_3': this.progressStateThree, 
                                'state_4': this.progressStateFour, 
                                'state_5': this.progressStateFive}">
                            </div>
                            <div class="tracking-progress-lines">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                        <div class="tracking-details">
                            <div class="tracking-details--item">
                                <icon-component iconSrc="../src/assets/img/icons/checked.png" small></icon-component>
                                <p class="Light-text Paragraph-small Light-text">Tu solicitud fue recibida y procesada</p>
                            </div>
                            <div class="tracking-details--item">
                                <icon-component iconSrc="../src/assets/img/icons/checked.png" small></icon-component>
                                <p class="Light-text Paragraph-small Light-text">Juan ha sido tu mensajero asignado</p>
                            </div>
                            <div class="tracking-details--item">
                                <icon-component iconSrc="../src/assets/img/icons/checked.png" small></icon-component>
                                <p class="Light-text Paragraph-small Light-text">Tu envío está en camino</p>
                            </div>
                            <div class="tracking-details--item">
                                <icon-component iconSrc="../src/assets/img/icons/checked.png" small></icon-component>
                                <p class="Light-text Paragraph-small Light-text">Tu envío ha sido entregado</p>
                            </div>
                            <div class="tracking-details--item">
                                <icon-component iconSrc="../src/assets/img/icons/checked.png" small></icon-component>
                                <p class="Light-text Paragraph-small Light-text">Servicio finalizado</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="Dashboard--recent">
                    <div class="Dashboard--recent-header">
                        <icon-component iconSrc="../src/assets/img/icons/box.png" small>
                        </icon-component>
                        <h3>Tus envíos recientes</h3>
                    </div>
                    <div class="Separator-line"></div>
                    <div class="Dashboard--recent-infocard" v-for="(response, index) of responses.recents" :key="response._id" :data="response">
                        <div class="Dashboard--recent-infocard-header">
                            <p class="Light-text">Entrega de tenis New Balance</p>
                            <p class="Paragragh-grey">Lunes, Noviembre 02</p>
                            <p class="Light-text">Valor: {{response.price}}</p>
                            <div class="accordion--action" @click="moreInfo(index)">
                                <p class="Paragraph-red Center" ref="showInfoAction">Más detalles
                                </p>
                                <span ref="moreInfoArrow" class="more_info--arrow"></span>
                            </div>
                            <main-button buttonText="Volver a solicitar" red small noIcon></main-button>
                        </div>
                        <div class="Dashboard--recent-infocard-content">
                            <div class="Delivery-info--item">
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Fecha de solicitud:</strong> {{response.fecha}}</p>
                                </div>
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Hora de solicitud:</strong> {{response.hora}}</p>
                                </div>
                            </div>
                            <div class="Delivery-info--item">
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Punto de recogida:</strong> {{response.recogida}} </p>
                                </div>
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Punto de entrega:</strong> {{response.entrega}} </p>
                                </div>
                            </div>
                            <div class="Delivery-info--item">
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Contacto:</strong> {{response.contacto}} </p>
                                </div>
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Teléfono:</strong> {{response.telefono}} </p>
                                </div>
                            </div>
                            <div class="Delivery-info--item">
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Mensajero encargado: </strong>{{response.mensajero}}</p>
                                </div>
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Teléfono:</strong> {{response.mTelefono}} </p>
                                </div>
                            </div>
                            <div class="Delivery-info--item">
                                <div class="info-item">
                                    <p class="Paragraph-small Light-text">Estado:</p>
                                </div>
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-bold" style="color: limegreen;">Finalizado con éxito</p>
                                </div>
                            </div>
                            <div class="Delivery-info--item">
                                <div class="info-item">
                                    <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">ID Orden: </strong>{{response.idOrden}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main-transition>
</template>
