<style src="styles/components/DeliveryRoutingUploadFile.styl" lang="stylus" scoped></style>

<script>
    import MainTransition from "app/transitions/GSAP";
    import MainButton from "../specific/MainButton.vue"
    import IconComponent from "../specific/IconComponent.vue"
    export default{
        name: "UploadFile",
        data(){
            return {
                onLoad: false,
                file: undefined,
                fileName: undefined,
            };
        },
        props: {},
        components: { MainTransition, MainButton, IconComponent },
        methods: {
             getFile: function(){
                this.onLoad = true;
                document.getElementById("upfile").click();
            },
            sub(){
                this.file = document.getElementById("upfile");
                console.log(this.file.value);
                this.fileName = this.file.value.split("\\");
                document.getElementById("file_name").innerHTML = this.fileName[this.fileName.length-1];
                document.myForm.submit();
                event.preventDefault();
            },
        },
        computed: {}
    };
</script>

<template>
    <main-transition>
        <div class="DeliveryRoutingUploadFile">
            <div class="RoutingUploadFile__contain">
                <p class="Paragraph-small">Con esta funcionalidad, Vueltap te permite programar múltiples envíos en diferentes direcciones de forma muy sencilla y práctica. ¿Cómo? Sólo debes descargar la plantilla de base, llénala con la información de tus envíos y luego súbela en el área punteada de abajo. ¡Así de fácil!</p>
                <div class="upload-file__drag-space" style="position: relative;">
                    <p class="Paragraph-grey">Arrastra a</p>
                    <form action="#type your action here" method="" enctype="multipart/form-data" name="myForm">
                        <main-button
                            @click.native="getFile()"
                            buttonText="Sube desde tu computador"
                            red
                            noIcon
                        ></main-button>
                        <p id="file_name" v-show="this.onLoad">File name</p>
                        <!-- this is your file input tag, so i hide it!-->
                        <!-- i used the onchange event to fire the form submission-->
                        <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" ref="upfile" type="file" value="upload" @change="sub()"/></div>
                        <!-- here you can have file submit button or you can write a simple script to upload the file automatically-->
                        <!-- <input type="submit" value='submit' > -->
                    </form>
                    <p class="Paragraph-grey">la plantilla de excel con la lista de direcciones de tus envíos</p>
                    <icon-component
                        iconSrc="../src/assets/img/icons/checked.png"
                        noMargin
                    ></icon-component>
                </div>
            </div>
        </div>
    </main-transition>
</template>
