<style src="styles/components/DeliveryRouting.styl" lang="stylus" scoped></style>

<script>
    import MainTransition from "app/transitions/GSAP";
    import IconComponent from "../specific/IconComponent.vue"
    import MainButton from "../specific/MainButton.vue"
    import UploadFile from "../dashboard/DeliveryRoutingUploadFile.vue"
    export default {
        name: "DeliveryRouting",
        data() {
            return {
                adresses: [
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                    "Calle 100 #12 -25",
                ],
                ownAdress: "Calle 25 #100 - 12",
                adressConflict: false,
                upload: false,
            };
        },
        props: {},
        components: {
            IconComponent,
            MainButton,
            UploadFile,
            MainTransition,
        },
        methods: {
            uploadFile: function() {
                this.upload = true;
            }
        },
        computed: {}
    };
</script>

<template>
    <main-transition>
        <div class="DeliveryRouting">
            <div class="DashboardComponent--container">
                <div class="Dashboard__main-header">
                    <div class="profile--state">
                        <icon-component iconSrc="../src/assets/img/icons/clock.png" small>
                        </icon-component>
                        <h4 class="Light-text">Tienes un envío en curso</h4>
                    </div>
                    <main-button buttonText="Descargar plantilla"></main-button>
                </div>
                <div class="Separator-line"></div>
                <div class="DeliveryRouting__content" v-if="!this.upload">
                    <div class="DeliveryRounting__adresses">
                        <div class="DeliveryRouting__adresses--title">
                            <h4>Hemos cargado 31 direcciones correctamente</h4>
                            <icon-component iconSrc="../src/assets/img/icons/checked.png" small></icon-component>
                        </div>
                        <div class="DeliveryRouting__adresses--list">
                            <ul>
                                <li class="" v-for="(adress, index, key) in adresses" :key="key" :index="index">
                                    <p>{{adress}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="DeliveryRouting__adress-conflict" v-show="!this.adressConflict">
                            <h4 class="Paragraph-red">2 direcciones muestran conflictos</h4>
                            <icon-component iconSrc="../src/assets/img/icons/conflict.png" small>
                            </icon-component>
                        </div>
                        <div class="DeliveryRouting__my-adress">
                            <p stlye="inline-block">{{ownAdress}}</p>
                            <icon-component iconSrc="../src/assets/img/icons/pencil.png" extraSmall></icon-component>
                            <icon-component iconSrc="../src/assets/img/icons/trash.png" extraSmall></icon-component>
                        </div>
                    </div>
                    <div class="DeliveryRouting__map">
                    </div>
                </div>
                <div class="DeliveryRouting__bottom" style="width: 100%; margin: 20px 0;">
                    <main-button v-if="!this.upload" @click.native="uploadFile()" style="float: right;" buttonText="Continuar" red>
                    </main-button>
                </div>
                <upload-file v-if="this.upload"></upload-file>
            </div>
        </div>
    </main-transition>
</template>
