<style src="styles/components/MyAccount.styl" lang="stylus" scoped></style>

<script>
    import MainTransition from "app/transitions/GSAP";
    import IconComponent from "../specific/IconComponent.vue"
    import MainButton from "../specific/MainButton.vue"
    export default{
        name: "MyAccount",
        data(){
            return {
                personalInformation: {
                    company: "Super Tiendas Pródigos",
                    name: "María Camila Daza",
                    mail: "mcdaza@prodigosapp.com",
                    password: "...."
                },
                paymentCards: [
                    {
                        name: "Tarjeta de crédigo VISA",
                        number: "********* 3858"
                    },
                    {
                        name: "Tarjeta de crédigo VISA",
                        number: "********* 3858"
                    },
                    {
                        name: "Tarjeta de crédigo VISA",
                        number: "********* 3858"
                    },
                ],
                informationInputEditable: false,
            };
        },
        props: {},
        components: { MainTransition, IconComponent, MainButton },
        methods: {
            removeCard(index) {
                this.paymentCards.splice(index, 1);
                console.log(index);
            }
        },
        computed: {}
    };
</script>

<template>
    <main-transition>
        <div class="MyAccount">
            <div class="DashboardComponent--container">
                <div class="Dashboard__main-header">
                    <div class="Tab__content--title">
                        <icon-component
                            iconSrc = "../src/assets/img/icons/user_icon.png"
                            small
                        ></icon-component>
                        <h4 class="Light-text">Mi cuenta</h4>
                    </div>
                </div>
                <div class="Separator-line"></div>
                <div class="MyAccount__content">
                    <div class="MyAccount__title">
                        <h4 class="Paragraph-red Light-text">Información general</h4>
                        <div class="edit-information" @click="informationInputEditable = !informationInputEditable">
                            <p>Editar</p>
                            <icon-component
                                iconSrc = "../src/assets/img/icons/pencil.png"
                                extraSmall 
                            >
                            </icon-component>
                        </div>
                    </div>
                    <div class="MyAccount__information">
                        <div class="MyAccount__information-item">
                            <label class="Paragraph-grey Paragraph-small" for="company">Empresa</label>
                            <input class="Form_light disabled" type="text" :placeholder="personalInformation.company" :disabled="!informationInputEditable" :class="{'enabled': informationInputEditable}">
                        </div>
                        <div class="MyAccount__information-item">
                            <label class="Paragraph-grey Paragraph-small" for="company">Nombre</label>
                            <input class="Form_light disabled" type="text" :placeholder="personalInformation.name" :disabled="!informationInputEditable" :class="{'enabled': informationInputEditable}">
                        </div>
                        <div class="MyAccount__information-item" style="width: 30%; margin-right: 20px">
                            <label class="Paragraph-grey Paragraph-small" for="company">Correo</label>
                            <input class="Form_light disabled" type="email" :placeholder="personalInformation.mail" :disabled="!informationInputEditable" :class="{'enabled': informationInputEditable}">
                        </div>
                        <div class="MyAccount__information-item" style="width: 15%;">
                            <label class="Paragraph-grey Paragraph-small" for="company">Contraseña</label>
                            <input class="Form_light disabled" type="password" :placeholder="personalInformation.password" :disabled="!informationInputEditable" :class="{'enabled': informationInputEditable}">
                        </div>
                    </div>
                    <div class="MyAccount__plans">
                        <div class="MyAccount__plans--module">
                            <h4 class="Paragraph-red">Tu plan</h4>
                            <div class="module__container">
                                <h4>Mega (100 Km)</h4>
                                <p class="Paragraph-small Paragraph-grey">Tu plan Mega (100 Km) consta de 100 Km en envíos dentro de Bogotá. <strong class="Paragraph-red">Ver términos</strong></p>
                                <div class="my-plan__used">
                                    <div class="my-plan__used--text">
                                        <p class="Paragraph-small Paragraph-grey">Consumo 40km</p>
                                        <p class="Paragraph-small Paragraph-grey">Te quedan 60km</p>
                                    </div>
                                    <div class="my-plan__used--bar"></div>
                                </div>
                                <div class="my-plan__buttons">
                                    <main-button
                                        buttonText="Comprar más"
                                        noIcon
                                        inlineButton
                                        small
                                    ></main-button>
                                    <main-button
                                        buttonText="Cambiar de plan"
                                        noIcon
                                        borderBlack
                                        small
                                        inlineButton
                                    ></main-button>
                                </div>
                            </div>
                        </div>
                        <div class="MyAccount__plans--module">
                            <h4 class="Paragraph-red">Métodos de pago</h4>
                            <div class="module__container">
                                <div class="payment-card" v-for="(card, index, key) of paymentCards" :key="key" index="index">
                                    <div style="display: inline-flex; width: 50%;" class="payment-card__card-name">
                                        <icon-component
                                            iconSrc = "../src/assets/img/icons/credit_card.png"
                                            small
                                        ></icon-component>
                                        <p class="Paragraph-grey Paragraph-small" style="max-width: unset;">{{card.name}}</p>
                                    </div>
                                    <p>{{card.number}}</p>
                                    <icon-component
                                        iconSrc = "../src/assets/img/icons/trash.png"
                                        extraSmall
                                        @click.native="removeCard(index)"  
                                        style="cursor: pointer;"
                                    >
                                    </icon-component>
                                    <div class="Separator-line"></div>
                                </div>
                                <main-button
                                    buttonText="Añadir tarjeta +"
                                    red
                                    noIcon
                                ></main-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main-transition>
</template>
