<style src="styles/components/FooterComponent.styl" lang="stylus" scoped></style>

<script>
    import MainButton from "app/components/specific/MainButton.vue"

    export default{
        name: "FooterComponent",
        data(){
            return {};
        },
        props: {},
        components: { MainButton },
        methods: {},
        computed: {}
    };
</script>

<template>
    <div class="FooterComponent">
        <div class="Footer--container">
            <div class="Footer--row">
                <div class="Footer--logo" style="background-image: url('../../src/assets/img/logo.png')"></div>
            </div>
            <div class="Footer--row">
                <form action="submit">
                    <input type="text" placeholder="Suscríbete a nuestro newsletter">
                    <main-button
                        buttonText="Suscribirme"
                        red
                        noIcon
                    ></main-button>
                </form>
                <div class="Footer--social">
                    <div class="Footer--social--icon"></div>
                    <div class="Footer--social--icon"></div>
                    <div class="Footer--social--icon"></div>
                </div>
            </div>
            <div class="Footer--row">
                <div class="Footer--row--column">
                    <p class="Paragraph-red Font-bold">LEGAL</p>
                    <p class="Paragraph-small">Planes</p>
                    <p class="Paragraph-small">Políticas de envío</p>
                    <p class="Paragraph-small">Devoluciones</p>
                </div>
                <div class="Footer--row--column">
                    <p class="Paragraph-red Font-bold">AYUDA</p>
                    <p class="Paragraph-small">Atención al cliente</p>
                    <p class="Paragraph-small">Quejas y reclamos</p>
                    <p class="Paragraph-small">Términos y condiciones</p>
                </div>
                <div class="Footer--row--column">
                    <p class="Paragraph-red Font-bold">NOSOTROS</p>
                    <p class="Paragraph-small">Quiénes somos</p>
                    <p class="Paragraph-small">Partners</p>
                    <p class="Paragraph-small">Trabaja con nosotros</p>
                </div>
            </div>
            <div class="Separator-line"></div>
            <p class="Paragraph-small Center">2018 Vueltap. All rights reserved.</p>
        </div>
    </div>
</template>
