<style src="styles/views/Dashboard.styl" lang="stylus" scoped></style>

<script>
import DashboardManager from "app/components/dashboard/DashboardManager.vue"
import DashboardComponent from "app/components/dashboard/DashboardComponent.vue"
import ServiceHistory from "app/components/dashboard/ServiceHistory.vue"
import DeliveryRouting from "app/components/dashboard/DeliveryRouting.vue"
import MyAccount from "app/components/dashboard/MyAccount.vue"
import isMobile from "ismobilejs"
export default {
    name: "Dashboard",
    data(){
        return {};
    },
    props: {},
    components: { DashboardManager, DashboardComponent, ServiceHistory, DeliveryRouting, MyAccount },
    methods: {},
    computed: {}
};
</script>

<template>
    <div class="Dashboard">
        <dashboard-manager></dashboard-manager>
        <div class="Tab-container">
            <div class="Tab-content">
                <dashboard-component v-show="this.$store.getters.tabActive == 0"></dashboard-component>
                <service-history v-show="this.$store.getters.tabActive == 1"></service-history>
                <delivery-routing v-show="this.$store.getters.tabActive == 2"></delivery-routing>
                <my-account v-show="this.$store.getters.tabActive == 3"></my-account>
            </div>
        </div>
    </div>
</template>
