

<template>
<div class="LoginV">
        <h1>Login</h1>

        <form action="#" @submit.prevent="login">
            <input type="email" name="username" id= "username" class="login-input" v-model="username">
            <input type="password" name="pass" id="pass" class="login-input" v-model="password">
            <main-button
                buttonText="Ingresar"
                red
                type="submit"
            ></main-button>
        </form>
    </div>
</template>
<script>
import axios from 'axios';
import MainButton from '../components/specific/MainButton.vue'

export default {
    name: "LoginV",
    data() {
        return {
            username: 'wilmeralzateroman@gmail.com',
            password: "d2FyMjY2MDQ4OQ=="
        }

    },
    created() {
        
    },
    props: {},
    components: {MainButton},
    methods: {
        login(){

            this.$store.dispatch('getToken', {
                username: this.username,
                password: this.password
            })
            .then(response => {
                this.$router.push({name: 'dashboard'})
            })
            
        }
    },
    computed: {
        
    },
};
</script>

<style scoped>

.LoginV{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

h1{
color: gray;
}

button{
    padding: 18px;
    height: 100%;
    color: white;
    background-color: orangered;
}

</style>

