<style src="styles/views/ShippingRequest.styl" lang="stylus" scoped></style>

<script>
    import DashboardManager from "app/components/dashboard/DashboardManager.vue"
    import MainButton from "app/components/specific/MainButton.vue"
    import IconComponent from "app/components/specific/IconComponent.vue"
    import CustomForm from "app/components/specific/CustomForm.vue"
    import MainTransition from "app/transitions/GSAP";
    export default{
        name: "ShippingRequest",
        data(){
            return {
                shippingConfirmed: false,
            };
        },
        props: {},
        components: { DashboardManager, MainButton, IconComponent, CustomForm, MainTransition },
        methods: {
            confirmRequest() {
                this.shippingConfirmed = true;
            }
        },
        computed: {}
    };
</script>

<template>
    <div class="ShippingRequest">
        <main-transition>
            <div v-show="!this.shippingConfirmed" class="ShippingRequest__form-container">
                <div class="ShippingRequest_request-form">
                    <div class="request-form__title">
                        <icon-component
                        iconSrc="../src/assets/img/icons/car.png" 
                        ></icon-component>
                        <h3>Solicitar un envío</h3>
                    </div>
                    <div class="ShippingRequest__pickup_point">
                        <div class="ShippingRequest__pickup_title">
                            <icon-component
                            iconSrc="../src/assets/img/icons/pin.png"
                            extra-small
                            ></icon-component>
                            <p class="Paragraph-red Font-bold">Punto de recogida</p>
                        </div>
                        <form action="/action_page.php">
                            <input class="Form_light" type="text" name="direction" placeholder="Dirección">
                            <input class="Form_light" type="text" name="reference" placeholder="Apto, oficina, referencia para el mensajero">
                            <input class="Form_light" type="text" name="person" placeholder="Persona que entrega">
                            <input class="Form_light" type="text" name="number" placeholder="Número de contacto">
                        </form> 
                        <div class="Separator-line"></div>
                    </div>
                    <div class="ShippingRequest__delivery_point">
                        <div class="ShippingRequest__delivery_title">
                            <icon-component
                            iconSrc="../src/assets/img/icons/pin.png"
                            extra-small
                            ></icon-component>
                            <p class="Paragraph-red Font-bold">Punto de entrega</p>
                        </div>
                        <form action="submit">
                            <input class="Form_light" type="text" name="direction" placeholder="Dirección">
                            <input class="Form_light" type="text" name="reference" placeholder="Apto, oficina, referencia para el mensajero">
                            <input class="Form_light" type="text" name="person" placeholder="Persona que recibe">
                            <input class="Form_light" type="text" name="number" placeholder="Número de contacto">
                        </form>
                        <div class="addDeliveryPoint">
                        <main-button
                        buttonText="+ Añade otro punto de entrega"
                        borderRed
                        noIcon
                        ></main-button>
                        </div>
                        <div class="Separator-line"></div>
                        <label class="returnToDeliveryPoint">
                            <input type="checkbox"  name="checkbox"> 
                            <span class="check"></span>
                            <p>Requiero que el mensajero vuelva al punto de recogida después de realizar el envío</p>
                        </label>
                    </div>
                </div>
                <div class="ShippingRequest_map"></div>
            </div>
        </main-transition>
        <main-transition>
            <div v-show="this.shippingConfirmed" class="ShippingRequest-summary__container">
                <h4>Resumen de tu solicitud</h4>
                <div class="ShippingRequest__resumeContainer">
                    <div class="ShippingRequest__resumeContent">
                        <p>Fecha <span class="Paragraph-grey">Lunes, Noviembre 02</span></p>
                        <p>Hora <span class="Paragraph-grey">7:00 am</span></p>
                    </div>
                    <div class="ShippingRequest__resumeContent">
                        <p>Recogida: <span class="Paragraph-grey">Calle 100 #13-14</span></p>
                        <p>Entrega: <span class="Paragraph-grey">Calle 100 #13-14</span></p>
                    </div>
                    <div class="ShippingRequest__resumeContent">
                        <p>Contacto: <span class="Paragraph-grey">Alejandra Zúñiga</span></p>
                        <p>Tel contacto: <span class="Paragraph-grey">301-2670197</span></p>
                    </div>
                </div>
                <div class="ShippingRequest__finalResume">
                    <main-button
                        buttonText="Editar solicitud"
                        borderRed
                        noIcon
                        @click.native="shippingConfirmed = false"
                    ></main-button>
                    <h2>$55.990</h2>
                </div>
                <div class="Separator-line"></div>
                <div class="ShippingRequest__paymentMethod">
                    <h4>Método de pago</h4>
                    <div class="ShippingRequest__paymentMethod__options">
                        <label class="paymentMethod">
                            <input type="radio"  name="radio">
                            <icon-component
                            iconSrc="../src/assets/img/icons/credit_card.png" small
                            ></icon-component>
                            <p class="Paragraph-grey">Tarjeta de crédito</p>
                            <span class="checkmark"></span>
                        </label>
                        <label class="paymentMethod">
                            <input type="radio"  name="radio"> 
                            <icon-component
                            iconSrc="../src/assets/img/icons/money_card.png" small
                            ></icon-component>
                            <p class="Paragraph-grey">Efectivo</p>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="Separator-line"></div>
                <div class="ShippingRequest__payment-action">
                    <custom-form
                        noIcon
                        type="text"
                        buttonText = "Pagar y confirmar solicitud de envío"
                        inline-input
                        large
                        :fieldsNumber = "2"
                        placeholder = "Promo code"
                        placeholder2 = "Notas para el mensajero"
                        hasTerms
                        isLightForm
                    ></custom-form>
                </div>
            </div>
        </main-transition>
        <div v-if="!this.shippingConfirmed" class="ShippingRequest__footer">
            <div class="ShippingRequest__footer_content">
                <div class="total-value">
                    <p>Valor total</p>
                    <h3>$55.990</h3>
                </div>
                <main-button class="confirmationButton" type="submit" value="Submit"
                    buttonText="Confirmar Solicitud"
                    noIcon
                    small
                    @click.native="confirmRequest"
                ></main-button>
            </div>
        </div>
    </div>
</template>
